services:
  db:
    image: postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"

  api:
    depends_on:
      - db
    restart: unless-stopped
    env_file:
      - .env
    build:
      dockerfile: Dockerfile
    ports:
      - "${API_PORT}:${API_PORT}"
